@media(max-width: 575px) {
    nav {
        justify-content: flex-end !important;
    }
   .section-text{
    border: 2px solid yellow;
    width:100%;
   }

   .section-btns{
    flex-direction: column;
   }
.paragrafo-marcas{
    width: 100%;
}



}

@media (min-width: 574px) and (max-width: 767.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}
